/* 	NOTES: 	
	Images in a div_card_big card display at max of 600x350px.
	They are saved at 1200x700 - (mulitplier is 1.71)

	Images in div_card_small are saved at 660x384px 
	(display max of 330x192px multiplier is 1.71) 

	Table images are 300x175px wide (max) - images saved at 600x350px

	'feature-photos' display at 280x165px are 560x330 in size - max display is half that, min-width 280px.
	
	Images saved at twice display size to allow for HD screens
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	height:100vh; /* fix IE11 */
    min-height:100%; /* fix IE11 */
	margin:0;
	background-color: #ded9b5;
	font-family: 'Roboto','Roboto Condensed', arial, sans-serif;
}
#residents {
	background-color: #f7f2d4;
}
/* --- sizings and positional --- */ 
.page-wrap {
	max-width: 1240px;
	min-width: 320px;
	margin: 0 auto;
	padding-bottom: 5px;
}
.head-section {
	display: none;
}
.welcome {
	padding: 0 30px;
}
.topper {
	max-height:140px;
	min-height: 130px;
	max-width: 1240px;
	min-width: 300px;
	margin: 0 auto;
	width: 100%;
}
.topper-logo {
	max-width: 210px;
}
.logo-holder {
	max-height: 120px;
	margin-left: 10px;
	margin-top: 10px;
	max-width: 220px;
}

.logo {
	height: 100%;
}
.small-details {
	text-align: right;
	margin:10px;
}
/*.section-wrap {
	max-width: 620px;
	margin:0 auto;
}*/
.card {
	background-color: white;
	margin :10px;
}	
.card-text {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.card article {
	padding:10px;
	text-align: center;
}
.card h1,h2 {
	text-align: center;
}
.thumb-big img {
	display: block; /*eliminates small gap between bottom of image and bottom of container */
	max-width: 100%;
	max-height: 350px;
}
.thumb-tiny img {
	max-width: 145px;
	max-height: auto;
}
.thumb img {
	display: block; /*eliminates small gap between bottom of image and bottom of container */
	width: 100%;
	max-height: 192px;
}
.small-image {
	max-width: 330px;
	/*max-height: 165px;*/
}
.padding { 
	padding: 20px;
	padding-bottom: 0;
}
.big {
	-webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	        flex-basis: 100%;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
}
.small {
	max-width: 600px;
	min-width: 150px;
}
.logo {
	max-width: 100%;
	max-height: 170px;
	margin-bottom: 10px;
}
.resident-logo {
	margin:0 auto;
	max-width: 145px;
	max-height:100%;
}
.standard {
	display: block;
	margin:10px auto;
	max-width: 33%;
	margin-top: 20px;
}
.detail-page {
	max-width: 1240px;
	min-width: 300px;
	margin: 0 auto;
}
.side-bar {
	max-width: 920px;
	margin: 10px;
	background-color: white;
}
.content-flex-wrap {
	max-width: 920px;
	min-width: 280px;
	margin: 10px;
	padding: 20px;
	background-color: white;
}
.invisible {
	margin:-10px;
}
.staff-photo { 
	display: block;
	margin:auto;
	margin-bottom: 20px;
	width:100%;
	max-width: 220px;
}
.volunteer-photo {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	min-width: 150px;
	max-width: 300px;
}
.resident-card  {
	max-width: 150px;
	height: 220px;
}
.resident-card .thumb {
	margin:10px;
}
#residents {
	padding-top: 5px;
	padding-bottom: 20px;
}
footer {
	margin-top: 0px;
}
.tables-wrap {
	width: 100%;
	min-width: 240px;
	margin:0 auto;
}
.table-image {
	width: 100%;
	margin:0;
	margin-bottom: -1px;
	display: block;
}
.image-cell {
	padding: 0px;
}
.zero-top-margin {
	margin-top: 0;
}
table {
	max-width: 300px;
	margin:10px;
	border-collapse: collapse;
}
td, th, tr {
	padding: 5px;
}
._280 {
	min-width: 280px;
}
.left {
	text-align: left;
}
.social-icon {
	margin: 10px;
	max-width: 120px;
}
.gayl-icon {
	margin:10px;
	max-width: 240px;
}
.centered {
	text-align: center;
}
.map {
	margin: 10px auto;
}
.feature-photo {
	margin:10px;
	max-width: 280px;
	height: auto;
	-webkit-align-self: flex-start;
	    -ms-flex-item-align: start;
	        align-self: flex-start;
}
.text-box {
	margin:10px;
	padding: 10px;
	max-width: 280px;
	text-align: center;
}
.code-buddies {
	display: block;
	width:100%;
	max-width: 600px;
	margin: auto;
}

/* --- end of sizing and positional rules ---*/

/* --- colours and decoration rules --- */

a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: green;
	text-decoration: underline;
}
a.highlight:link {
	color: green;
	text-decoration:none;
}
a.highlight:visited {
	color: green;
	text-decoration:none;
}
a.highlight:hover {
	color: maroon;
	text-decoration:underline;
}

.head-section {
	background-color: white;
}
footer {
	background-color: #768873;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer-content {
	max-width: 1240px;
	margin:0 auto;
}
.tiny-text{ 
	margin-bottom: 10px;
	margin-left: 10px;
}
.detail-page {
	background-color: #ded9b6;
	margin:10px auto;
	padding: 10px;
}
.btn {
	margin: 10px;
	background-color: #88ab88; /*close 2nd was #7dad7d */
	border: solid black 2px;
	padding: 10px;
	text-align: center;
}
.invisible {
	background-color: inherit;
}
.text-wrap {
	background-color: white;
	padding: 10px 20px;
}
table, th, td {
	border: 1px solid black;
}
table {
	background-color:#88ab88;
}
.text-box {
	background-color:#88ab88;
}

/* --- end of colours and decoration rules --- */

/* --- start of flex rules --- */

.page-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}
.topper {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.section-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap; 
	-webkit-box-align: stretch; 
	-webkit-align-items: stretch; 
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	}
.small {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.double-feature {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}
.text-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.social-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.logo-holder { 
	-webkit-box-pack: justify; 
	-webkit-justify-content: space-between; 
	    -ms-flex-pack: justify; 
	        justify-content: space-between;
}
.btn-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center; /*centralised vertically within their div*/
}
.detail-page {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
}
.side-bar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
 }
.resident-card { 
	-webkit-box-pack: justify; 
	-webkit-justify-content: space-between; 
	    -ms-flex-pack: justify; 
	        justify-content: space-between;
	-webkit-box-flex: 1; 
	   -webkit-flex: 1 0 150px; 
	    -ms-flex: 1 0 150px; 
			flex: 1 0 150px /*trying to fix safari ios bug*/
}
.footer-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.tables-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;     
}
.column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.download-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.yoga-wrap {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.yoga {
	-webkit-box-flex: 1; 
	-webkit-flex: 1 0 300px; 
	-ms-flex: 1 0 300px; 
	flex: 1 0 300px; /*trying to fix safari ios bug*/
}


/*._280{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch; 
	-webkit-align-items: stretch; 
	    -ms-flex-align: stretch;
	        -webkit-align-self: stretch;
	            -ms-flex-item-align: stretch;
	                align-self: stretch;
}
._280 thead {
	width: 100%;
}*/

/* --- end of flex rules --- */

@media screen and (min-width: 420px){
	.staff-photo { 
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
		min-width: 100px;
		max-width: 200px;
}
	.side-bar {
		min-width: 200px; /*added to stop side bar collapsing in IE*/
		min-height: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align:stretch;
		-webkit-align-items:stretch;
		    -ms-flex-align:stretch;
		        align-items:stretch;
	}
	.side-bar img {
		display: block;
	}
	.cta-wrap {
		max-width: 50%;
	}
	.address-wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.side-bar-content {		
		/*Someday...figure out how to keep side bar content visible when scrolling!...*/
	}
}

@media screen and (min-width:620px){
	
	.head-section {
		display: block;
		max-height: 200px;
	}
	.section-wrap {
		max-width: 700px;
		margin: 0 auto;
	}
	.big {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.big .thumb {
		max-width: 66% !important;
	}
	.double-feature {
		-webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		        flex-wrap: nowrap;
	} 
	.detail-page {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.side-bar {
		max-width: 300px;
		margin: 10px;
		-webkit-box-flex:1;
		-webkit-flex:1;
		    -ms-flex:1;
		        flex:1;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}
	.content-flex-wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-flex-basis: 100%;
		    -ms-flex-preferred-size: 100%;
		        flex-basis: 100%
	}
	.cta-wrap {
		min-width: 100%;
	}
	.yoga-wrap {
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.yoga {
		min-width: 300px;
	}
}

@media screen and (min-width: 840px) {

	.section-wrap {
		max-width: 100%;
			}
	.big {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		flex:1 0 35%;      /*does this fix weirdness on safari and ios?*/
		max-width:600px;   
		/*max-width:48%;*/
	}
	.big .thumb {
		min-width:100%; 
	}

}

